*~
*.cgi
*.o
*.rpm
*.spec
*.tar.gz
.deps
aclocal.m4
autom4te.cache/
conf/glassplayerhost-site.conf
config.log
config.status
configure
depcomp
helpers/jsmin
install-sh
missing
Makefile
Makefile.in
moc_*
src/glassformatter/config.cpp
src/glassformatter/config.h
src/glassformatter/glassformatter
src/glassplayerhost/config.cpp
src/glassplayerhost/config.h
src/glassplayerhost/glassplayerhost
src/web/config.cpp
src/web/config.h