*~
*.cgi
*.o
*.rpm
*.spec
*.tar.gz
.deps
aclocal.m4
autom4te.cache/
conf/glassplayerhost-site.conf
config.log
config.status
configure
depcomp
helpers/jsmin
install-sh
missing
Makefile
Makefile.in
moc_*
src/cgi-src/config.cpp
src/cgi-src/config.h
src/cgi-src/paths.h
src/common/paths.h
src/glassformatter/config.cpp
src/glassformatter/config.h
src/glassformatter/glassformatter
src/glassformatter/paths.h
src/glassplayerhost/config.cpp
src/glassplayerhost/config.h
src/glassplayerhost/glassplayerhost
src/glassplayerhost/paths.h
